footer {
    margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;

    .container {
        display: flex;
    }

    .contact-details {
        justify-content: center;
        flex-wrap: wrap;
        gap: 5em;

        .block {
            padding: 1em;
            text-align: center;
            max-width: 340px;

            i {
                font-size: 48px;
                margin-bottom: .3em;
            }

            p {
                margin: 0;
            }
        }
    }

    .form-container {
        flex : 2;
        
        form {
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: flex-start;

            input {
                width: 100%;
                background-color: transparent;
                border: solid 1px;
                height: 2.5em;
                margin-bottom: 20px;
            }

            textarea {
                width: 100%;
                background-color: transparent;
                border: solid 1px;
                height: 5em;
                line-height: 2.5em;
                font-size: 1.2em;
                margin-bottom: 20px;
            }

            input[type="submit"] {
                background-color: #BEB45A;
                padding: .5em 1em
            }
        } 
    }
}